<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>javaee_servlet_02_jsp_proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Charset_01_Post</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_01_character.Charset_01_Post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charset_01_Post</servlet-name>
    <url-pattern>/post charset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Charset_01_get</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_01_character.Charset_02_Get</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charset_01_get</servlet-name>
    <url-pattern>/get charset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Request_01_OneParam</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_02_request.Request_01_OneParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request_01_OneParam</servlet-name>
    <url-pattern>/request one parameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Request_02_Array</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_02_request.Request_02_Array</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request_02_Array</servlet-name>
    <url-pattern>/request array</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jdbc_01_Demo</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_03_jdbc.Jdbc_01_Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jdbc_01_Demo</servlet-name>
    <url-pattern>/jdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redirect_01_Demo</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_04_redirect.Redirect_01_Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect_01_Demo</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Combine_01_Demo</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_05_combine.Combine_01_Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Combine_01_Demo</servlet-name>
    <url-pattern>*.combine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lifecycle_01_Demo</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_06_lifecycle.Lifecycle_01_Demo</servlet-class>
    <init-param>
      <param-name>myDebug</param-name>
      <param-value>&quot;你好中国&quot;</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lifecycle_01_Demo</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Thread_01_Tickets</servlet-name>
    <servlet-class>cn.gaohank.program.j2ee.servlet.base.servlet_base_08_thread.Thread_01_Tickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thread_01_Tickets</servlet-name>
    <url-pattern>/thread</url-pattern>
  </servlet-mapping>
</web-app>