<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>javaee_servlet_02_jsp_proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>01_grammer</servlet-name>
    <servlet-class>cn.gaohank.program._01_grammar.Grammar_01_Jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>01_grammer</servlet-name>
    <url-pattern>/grammar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie_01_set</servlet-name>
    <servlet-class>cn.gaohank.program._02_cookie.Cookie_01_Set</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie_01_set</servlet-name>
    <url-pattern>/cookie set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie_02_get</servlet-name>
    <servlet-class>cn.gaohank.program._02_cookie.Cookie_02_Get</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie_02_get</servlet-name>
    <url-pattern>/cookie get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie_03_change</servlet-name>
    <servlet-class>cn.gaohank.program._02_cookie.Cookie_03_Change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie_03_change</servlet-name>
    <url-pattern>/cookie change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session_01_set</servlet-name>
    <servlet-class>cn.gaohank.program._03_session.Session_01_Set</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_01_set</servlet-name>
    <url-pattern>/session set</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session_02_get</servlet-name>
    <servlet-class>cn.gaohank.program._03_session.Session_02_Get</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_02_get</servlet-name>
    <url-pattern>/session get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filter_01_func</servlet-name>
    <servlet-class>cn.gaohank.program._04_filter.Filter_02_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filter_01_func</servlet-name>
    <url-pattern>/filter</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>filterDemo1</filter-name>
    <filter-class>cn.gaohank.program._04_filter.Filter_01_Func</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterDemo1</filter-name>
    <!-- /*是对所有的文件进行拦截 -->
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>listener_01_http</servlet-name>
    <servlet-class>cn.gaohank.program._05_listener.Listener_02_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listener_01_http</servlet-name>
    <url-pattern>/listener</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>el_01_grammar</servlet-name>
    <servlet-class>cn.gaohank.program._06_el.EL_01_Grammar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>el_01_grammar</servlet-name>
    <url-pattern>/el</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jstl_01_demo</servlet-name>
    <servlet-class>cn.gaohank.program._07_jstl.JSTL_01_Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jstl_01_demo</servlet-name>
    <url-pattern>/jstl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jquery_01_demo</servlet-name>
    <servlet-class>cn.gaohank.program._09_jQuary.JQuary_01_Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jquery_01_demo</servlet-name>
    <url-pattern>/jQuary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>json_01_demo</servlet-name>
    <servlet-class>cn.gaohank.program._10_json.JSON_01_Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>json_01_demo</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
</web-app>