<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="dog" class="cn.gaohank.program.spring.spring_01_bean.Dog" scope="prototype"/>
    <bean id="cat" class="cn.gaohank.program.spring.spring_01_bean.Cat" init-method="init"
          destroy-method="destroy"
    />
    
    <!--通过构造器实例化bean -->
    <bean id="obj1" class="java.util.GregorianCalendar"/>
    
    <!--通过静态工厂方法实例化bean -->
    <bean id="obj2" class="java.util.Calendar" factory-method="getInstance"/>
    
    <!--通过实例工厂方法实例化bean -->
    <bean id="obj3" class="java.util.GregorianCalendar"/>
    <bean id="obj4" factory-bean="obj3" factory-method="getTime"/>
    
     <!-- bean的作用域 -->
    <bean id="obj5" class="java.util.GregorianCalendar"  scope="prototype"/>
   
    <!-- bean的生命周期 -->
    <!-- bean的延迟实例化 -->
    <bean id="exampleBean" class="spring_01_bean.ExampleBean"
        init-method="init" destroy-method="destroy" lazy-init="true"/>
        
    <!-- setter注入 -->
    <!-- Spring创建Computer对象 -->
    <!-- 注入方法setMainboard/setHdd/setRam -->
    <bean id="computer" class="cn.gaohank.program.spring.spring_01_bean.Computer">
        <property name="mainboard" value="技嘉"/>
        <property name="hdd" value="希捷"/>
        <property name="ram" value="金士顿"/>
    </bean>
    
    <!--构造器注入 -->
    <!-- Spring创建MobilePhone -->
    <bean id="phone" class="cn.gaohank.program.spring.spring_01_bean.MobilePhone">
    	<!-- 第一个参数是ARM -->
        <constructor-arg index="0" value="ARM"/>
        <!-- 第二个参数是2G -->
        <constructor-arg index="1" value="2G"/>
    </bean> 
    
    <!--自动装配 -->
    <!-- 消除get/set方法 -->
    <!-- byType时
         如果容器有依赖对象对应的bean，则自动装配；
         如果有多个则报错；
         如果没有bean，则什么都不发生。
     -->
    <bean id="student" scope="prototype" class="cn.gaohank.program.spring.spring_01_bean.Student" autowire="byType"/>
    
         
</beans>